body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    font-family: sans-serif;
    background-image: url(imagini/fundal.jpg);
}

header {
    position: relative;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    font-size: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 0 25px 0 black;
    font-size:  30px;
}
header p{
    color: black;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    font-family: Impact;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    padding: 55px;
}

.nota {
    background-image: url(imagini/tectura.jpg);
    color: black;
    top: 25%;
    left: 40%;
    display: inline-block;
    flex-direction: column;
    border-style: double;
    position: fixed;
}

.titlu {
    font-size: 28px;
    padding: 25px;
}

.produs {
    font-size: 20px;
    padding: 18px;
}

.total {
    font-size: 30px;
    padding: 30px;
}